.rowC{display:flex; flex-direction:row;}

.inputDiv{
  width:25%;
  height:"500px";
}

.tablleDiv{
  width:20%;
  margin-top: 5%;
}

.calDiv
{
  width: 20%;
  height : "500px";
  margin: 0 3% 0 2%;
}
.chartDiv{
  width:50%;
  height : "500px"
}
